@model coreModel.Model.Birimler

@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:500px;">
    <h1>Sil</h1>


    <div>
        <h4>Birimler</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.birimAdi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.birimAdi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.birim)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.birim)
            </dd>
        </dl>

        <form asp-action="Sil">
            <input type="hidden" asp-for="birimID" />
            <input type="submit" value="Sil" class="btn btn-danger" style="margin-top:5px;" /> |
            <a asp-action="Liste">Geri dön</a>
        </form>
    </div>
</div>
