@model coreModel.Model.Projeler

@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="margin-left:500px;">
    <h1>Güncelle</h1>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Güncelle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="projeID" />
                <div class="form-group">
                    <label asp-for="projeAdi" class="control-label"></label>
                    <input asp-for="projeAdi" class="form-control" />
                    <span asp-validation-for="projeAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="projeBaslangicTarih" class="control-label"></label>
                    <input asp-for="projeBaslangicTarih" class="form-control" />
                    <span asp-validation-for="projeBaslangicTarih" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="projeBitisTarih" class="control-label"></label>
                    <input asp-for="projeBitisTarih" class="form-control" />
                    <span asp-validation-for="projeBitisTarih" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="gorevID" class="control-label"></label>
                    <input asp-for="gorevID" class="form-control" />
                    <span asp-validation-for="gorevID" class="text-danger"></span>
                </div>
             
                <div class="form-group">
                    <input type="submit" value="Güncelle" class="btn btn-warning" style="margin-top:5px;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Liste">Geri dön</a>
    </div>


</div>
